<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/member_auth/css/member_login.css">
    <title>Register page</title>
</head>
<body class="bg" background="../../../static/title/title(1).jpg">
    <header class = "title_logo">
        <img src="../../../static/logo/logo.png">
        <!-- {%include 'message_render.html'%} -->
        <h1>Travel Diaries</h1>
    </header>
    <main>
        <form action="\members\register_user" method='POST'>
            <!-- {% csrf_token %} -->
            <div class="common login">
                <b>Register</b><p>To continue to Travel Diaries</p>
            </div>
            <div class="common forms">
                <label for='fname'> First name:</label>
            </div>
            <div class="common forms">
                <input type='text' name='fname' id='fname' placeholder="Enter your First name">
            </div>
            <div class="common forms">
                <label for='lname'> Last name:</label>
            </div>
            <div class="common forms">
                <input type='text' name='lname' id='lname' placeholder="Enter your Last name">
            </div>
            <div class="common forms">
                <label for='username'> Username:</label>
            </div>
            <div class="common forms">
                <input type='text' name='username' id='username' placeholder="Enter your Username">
            </div>
            {% comment %} <div class="common forms">
                <label for='dob'> Date of birth: </label>
            </div>
            <div>
                <input type='date' name='dob' id='dob'>
            </div>
            <div class="common forms">
                <label for="gender">Gender:</label>
                <select name="gender" id="gender">
                    <option value="" disabled selected hidden>Choose a gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="rathernot">Rather not say</option>
                    <option value="other">Other</option>
                </select>
            </div> {% endcomment %}
            <div class="common forms">
                <label for='password'> Password:  </label>
            </div>
            <div class="common forms">
                <input type='password' name='password' id='password' placeholder="Enter your password">
            </div>
            <div class="common forms">
                <label for='cpassword'> Confirm password:  </label>
            </div>
            <div class="common forms">
                <input type='password' name='cpassword' id='cpassword' placeholder="Confirm your password">
            </div>
            <div class="right">
                <div></div>
                <button type="submit"><class="co">Register</class=></button>
            </div>
        </form>
    </main>
</body>
</html>