<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home page</title>

    <!-- Font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- bootstrap stylesheets -->
    <link
      href="https:/<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home page</title>

    <!-- Font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- bootstrap stylesheets -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- CSS stylesheets -->
    <link href='../../static/base/css/landing_pg.css' rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a href="#" class="logo-img navbar-brand"></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active custom-link"
                aria-current="page"
                href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" href="{% url "contact-us" %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="btn-dark custom-btn">
              <a class="nav-link active" aria-current="page" href="{% url "member-login" %}"
                >Login</a
              >
            </button>
          </li>
        </ul>
      </div>
    </nav>
    {% include "message_render.html" %}
    <!-- title-section -->
    <section class="container-fluid title">
      <div class="title-box">
        <img
          src="../../../static/title/title(1).jpg"
          alt="title-img"
          class="title-img"
        />
        <div class="title-text">
          <h1 class="title-heading">Your Ultimate Memory Repository</h1>
          <br /><br />
          <p>
            Curating the chapters of your life with love <span>&#9829;</span>
          </p>
          <br />
          <button class="btn btn-dark btn-lg">
            <a href="{% url "member-login" %}">Start Your Diary</a>
            <div class="title-arrow">
              <i class="fa-solid fa-arrow-right-long"></i>
            </div>
          </button>
        </div>
      </div>
    </section>

    <!-- Features -->

    <section class="container feature">
      <div class="box-left row" id="feature">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img1.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Capture Your Life Moments</h1>
          <p>
            "Traveling isn't just about reaching destinations; it's about
            capturing the moments that define our journey, turning them into
            lifelong memories."
          </p>
        </div>
      </div>
      <div class="box-right row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img2.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Schedule trips - group or solo</h1>
          <p>
            Scheduling trips option allows to balance the solitude of solo
            adventures with the joy of shared experiences on group journeys,
            creating a rich tapestry of travel memories.
          </p>
        </div>
      </div>
      <div class="box-left row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img3.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Chat & budget planning</h1>
          <p>
            Chat section allows to make plans, create a bucket list and do
            budgeting simultaneously, instead of each in different apps.
          </p>
        </div>
      </div>
      <div class="box-right row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img4.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Memories & photo dump</h1>
          <p>
            The best part about "Travel Diaries" is that memories and photos can
            be saved erternally. They stay until you want to delete them!
          </p>
        </div>
      </div>
      <div class="box-left row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img5.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Book hotels and rides?</h1>
          <p>
            "A one stop solution" for all travelling problems, you can also book
            hotels and rides anywhere and everywhere.
          </p>
        </div>
      </div>
    </section>

    <footer class="text-center text-lg-start">
      <div class="foot-top">
        <a href="#top">Back to top</a>
      </div>

      <div class="foot-links text-light row">
        <ul class="col-lg-4 foot-link-box">
          <h5>About us</h5>
          <li><a href="#feature">Features</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="contact_us.html">Contact Us</a></li>
        </ul>

        <ul class="col-lg-4 foot-link-box">
          <h5>Help with your diary</h5>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Create a diary</a></li>
          <li><a href="#">Book hotels and rides</a></li>
        </ul>

        <ul class="col-lg-4 foot-link-box">
          <h5>Learn more</h5>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: #1f1228; color: white"
      >
        © 2023 Copyright:
        <a href="#Help website" style="color: white">Travel Diaries</a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>/cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- CSS stylesheets -->
    <link href='/static/base/css/landing_pg.css' rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a href="#" class="logo-img navbar-brand"></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active custom-link"
                aria-current="page"
                href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" href="{% url "contact-us" %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="btn-dark custom-btn">
              <a class="nav-link active" aria-current="page" href="{% url "member-login" %}"
                >Login</a
              >
            </button>
          </li>
        </ul>
      </div>
    </nav>
    {% include "message_render.html" %}
    <!-- title-section -->
    <section class="container-fluid title">
      <div class="title-box">
        <img
          src="/static/title/title(1).jpg"
          alt="title-img"
          class="title-img"
        />
        <div class="title-text">
          <h1 class="title-heading">Your Ultimate Memory Repository</h1>
          <br /><br />
          <p>
            Curating the chapters of your life with love <span>&#9829;</span>
          </p>
          <br />
          <button class="btn btn-dark btn-lg">
            <a href="{% url "member-login" %}">Start Your Diary</a>
            <div class="title-arrow">
              <i class="fa-solid fa-arrow-right-long"></i>
            </div>
          </button>
        </div>
      </div>
    </section>

    <!-- Features -->

    <section class="container feature">
      <div class="box-left row" id="feature">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img1.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Capture Your Life Moments</h1>
          <p>
            "Traveling isn't just about reaching destinations; it's about
            capturing the moments that define our journey, turning them into
            lifelong memories."
          </p>
        </div>
      </div>
      <div class="box-right row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img2.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Schedule trips - group or solo</h1>
          <p>
            Scheduling trips option allows to balance the solitude of solo
            adventures with the joy of shared experiences on group journeys,
            creating a rich tapestry of travel memories.
          </p>
        </div>
      </div>
      <div class="box-left row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img3.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Chat & budget planning</h1>
          <p>
            Chat section allows to make plans, create a bucket list and do
            budgeting simultaneously, instead of each in different apps.
          </p>
        </div>
      </div>
      <div class="box-right row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img4.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Memories & photo dump</h1>
          <p>
            The best part about "Travel Diaries" is that memories and photos can
            be saved erternally. They stay until you want to delete them!
          </p>
        </div>
      </div>
      <div class="box-left row">
        <div class="col-lg-4 img-box">
          <img
            src="/static/base/images/landing_pg/features/img5.jpg"
            alt="capture-life"
            class="img1"
          />
        </div>
        <div class="col-lg text-box">
          <h1>Book hotels and rides?</h1>
          <p>
            "A one stop solution" for all travelling problems, you can also book
            hotels and rides anywhere and everywhere.
          </p>
        </div>
      </div>
    </section>

    <footer class="text-center text-lg-start">
      <div class="foot-top">
        <a href="#top">Back to top</a>
      </div>

      <div class="foot-links text-light row">
        <ul class="col-lg-4 foot-link-box">
          <h5>About us</h5>
          <li><a href="#feature">Features</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="contact_us.html">Contact Us</a></li>
        </ul>

        <ul class="col-lg-4 foot-link-box">
          <h5>Help with your diary</h5>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Create a diary</a></li>
          <li><a href="#">Book hotels and rides</a></li>
        </ul>

        <ul class="col-lg-4 foot-link-box">
          <h5>Learn more</h5>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: #1f1228; color: white"
      >
        © 2023 Copyright:
        <a href="#Help website" style="color: white">Travel Diaries</a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
