@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
}

.bg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  

nav{
    display: flex;
    flex-wrap: wrap;
    background: rgb(161, 96, 157);
    background-image: linear-gradient(to right,#c34c76);
    justify-content: space-between;
    padding: 40px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-right: 20px;
}

.user{
    float: left;
    width: 35px;
    margin-right: 10px;
}