*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    text-align: center;
    background-image: url("./images/home_pg/title/title(1).jpg");
}

nav{
    display: flex;
    flex-wrap: wrap;
    background: rgb(161, 96, 157);
    background-image: linear-gradient(to right,#c34c76);
    justify-content: space-between;
    padding: 40px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-right: 20px;
}